.bandeau{
    background-color: aqua;
    height: 100%;
}  
.contenu{
    background-color: yellow;
    height: 500px;
    padding-top: 200px;
    text-align: center;
}
.pieddepage{
    background-color: green;
    height: 100%;
    text-align: center;
    
}